.row
  .splash
    BipartisanScore measures bipartisanship.
  .subsplash
    BipartisanScore methodically evaluates and scores the bipartisanship of Congressmen and Legislation.
  .centered
    %a.button.tiny
      Learn How it Works
.search
  .row
    .centered
      %a.button{"href" => legislators_path}
        View Legislator Scores
   
:erb
  </div>
.row
  .results
    %h2
      Top Rated Senators:
    - @top_senators.each do |m|
      = render :partial => 'mocboxwht', :locals => { :@m => m } 
.row
  .results
    %h2
      Top Rated Representatives:
    - @top_representatives.each do |m|
      = render :partial => 'mocboxwht', :locals => { :@m => m } 
.two
  .row
    .results
      %h2
        Least Bipartisan Senators:
      - @bottom_senators.each do |m|
        = render :partial => 'mocbox', :locals => { :@m => m } 
  .row
    .results
      %h2
        Least Bipartisan Representatives:
      - @bottom_representatives.each do |m|
        = render :partial => 'mocbox', :locals => { :@m => m } 