.row
  .splash
    BipartisanScore methodically measures the bipartisanship of each member of Congress and scores them accordingly
.search
  .row
    Here is search text.
:erb
  </div>
.row
  .results
    %h2
      Most Bipartisan Senators:
    - @top_senators.each do |m|
      = render :partial => 'mocbox', :locals => { :@m => m } 
.row
  .results
    %h2
      Most Bipartisan Representatives:
    - @top_representatives.each do |m|
      = render :partial => 'mocbox', :locals => { :@m => m } 
.two
  .row
    .results
      %h2
        Least Bipartisan Senators:
      - @bottom_senators.each do |m|
        = render :partial => 'mocbox', :locals => { :@m => m } 
  .row
    .results
      %h2
        Least Bipartisan Representatives:
      - @bottom_representatives.each do |m|
        = render :partial => 'mocbox', :locals => { :@m => m } 