.small-2.small-offset-1.columns
  Chamber:
.small-2.columns
  = grid_filter @bills_grid, :chamber_filter
.small-2.small.columns
  Title:
.small-2.end.columns
  = grid_filter @bills_grid, :title_filter
  