.row.contain
  .centered
    %h3
      BipartisanScore Legislator Metadata
  = render :partial => 'meta', :locals => { :@senate_democrats => @senate_democrats,
  :@senate_republicans => @senate_republicans, :@house_democrats => @house_democrats,
  :@house_republicans => @house_republicans, :@senate_democrat_bp_votes => @senate_democrat_bp_votes,
  :@senate_republican_bp_votes => @senate_republican_bp_votes, :@house_democrat_bp_votes => @house_democrat_bp_votes,
  :@house_republican_bp_votes => @house_republican_bp_votes, :@senate_democrat_bp_points => @senate_democrat_bp_points,
  :@senate_republican_bp_points => @senate_republican_bp_points, :@house_democrat_bp_points => @house_democrat_bp_points,
  :@house_republican_bp_points => @house_republican_bp_points, :@senate_democrat_party_percentage => @senate_democrat_party_percentage,
  :@senate_republican_party_percentage => @senate_republican_party_percentage, :@house_democrat_party_percentage => @house_democrat_party_percentage,
  :@house_republican_party_percentage => @house_republican_party_percentage, :@senate_democrat_yea_votes => @senate_democrat_yea_votes,
  :@senate_republican_yea_votes => @senate_republican_yea_votes, :@house_democrat_yea_votes => @house_democrat_yea_votes,
  :@house_republican_yea_votes => @house_republican_yea_votes, :@senate_democrat_nay_votes => @senate_democrat_nay_votes,
  :@senate_republican_nay_votes => @senate_republican_nay_votes, :@house_democrat_nay_votes => @house_democrat_nay_votes,
  :@house_republican_nay_votes => @house_republican_nay_votes}  
.row.contain
  .small-12.columns
    .legislatorTable
      = render :partial => "grid"
.row.contain
  .legislatorFilter
    = render :partial => "filter" 
.row.contain
  .small-12.columns
    .legislatorTable
      = render_grid(@legislators_grid)