// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backg{
  width: 100%;
  height: 60%;
  max-width: initial;
  background-image: image-url("background.jpg") ;  
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

.splash{
  color:  #ffffff;
  font-size: 2.5rem;
  text-shadow: 2px 2px #193c64;
  text-align: center;
  background-color: rgba(28,65,109, 0.4);
  margin-top: 50px;
  
}

.subsplash{
  color:  #ffffff;
  font-size: 1.25rem;
  text-shadow: 2px 2px #193c64;
  text-align: center;
  background-color: rgba(28,65,109, 0.4);
  margin-bottom: 50px;
  
}

.search{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
}

.results{
  margin-top: 15px;
  text-align: center;
  
}

.mocbox{
  background-color: #b6d9ec;
  border-style: solid;
  border-width: 1px;
  border-color: #1b3e64;
  padding: 5px;
  padding-top: 0px;
}

.mocboxwht{
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #1b3e64;
  padding: 5px;
  padding-top: 0px;
}

.two{
  background-color: #eee;  
  margin-top: 15px;
}

.white{
  background-color: #ffffff;
}