// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logocontainer{
  max-width: 270px;
}

.backg{
  width: 100%;
  height: 600px;
  max-width: initial;
  background-image: image-url("background.jpg") ;  
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

.splash{
  color:  #ffffff;
  font-size: 3.0rem;
  font-weight: bold;
  text-shadow: 
    -2px -2px 0 #193c64,
     2px -2px 0 #193c64,
    -2px  2px 0 #193c64,
      2px 2px 0 #193c64;
  text-align: center;  
  margin-top: 50px;
  text-stroke: 2px #193c64;
  
}

.subsplash{
  color:  #ffffff;
  font-size: 1.65rem;
   text-shadow: 
    -1.5px -1.5px 0 #193c64,
     1.5px -1.5px 0 #193c64,
    -1.5px  1.5px 0 #193c64,
      1.5px 1.5px 0 #193c64;
  text-align: center;  
  margin-bottom: 50px;
  
}

.search{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.results{
  margin-top: 15px;
  text-align: center;
  
}

.mocbox{
  background-color: #b6d9ec;
  border-style: solid;
  border-width: 1px;
  border-color: #1b3e64;
  padding: 5px;
  padding-top: 0px;
  box-shadow: 5px 5px 5px #888888;
}

.mocboxwht{
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #1b3e64;
  padding: 5px;
  padding-top: 0px;
  box-shadow: 5px 5px 5px #888888;
}

.two{
  background-color: #eee;  
  margin-top: 15px;
  padding-bottom: 15px;
}

.white{
  background-color: #ffffff;
}

.imgcontainer{
  margin-left: auto;
  margin-right: auto;  
  padding-left: auto;
  padding-right: auto;
  max-width: 470px;
  background-color: #8ec1da;
  margin-top: 20px;
  margin-bottom: 50px;
  border-color: #1b3e64;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 5px #eee;
  padding-bottom: 20px;
}