%script
:javascript
  $(document).foundation();
.footer
  .row
    .small-12.columns
      .centered
        BipartisanScore is an open-source web application.  The code repository may be accessed here.
        %br
        BipartisanScore utilizes bilk data provided by The Sunlight Foundation