%script
:javascript
  $(document).foundation();
.footer
  .row
    .small-12.columns
      .centered
        Bulk congressional data provided by The Sunlight Foundation.
        %br
        BipartisanScore is an open-source web application | View code repository | Contact Form | (c) 2014 BipartisanScore.org
        